*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
    background-color: #010108;
    color: #8624d6;
}

header{
    margin: 4em;
    border: solid 2px #246bd6;
    padding: 0.5em;
    border-radius: 0.4em;
    
}