*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

::-webkit-scrollbar{
    background-color: #1c1c1c;
    width: 0.4em;
    height: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #383838;
    border-radius: 5px;
}

body{
    background-color: #010108;
    color: #b8b8b8;
}
header{
    padding: 0.5rem;
}

h1, h2{
    color: #b8b8b8;
    font-family: "Arimo";
    text-align: center;
}


#foto-perfil{
    display: block;
    width: 25vw;
    height: 25vw;
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 50%;
    margin: 0.8rem auto;
    box-shadow: 0 0 10px #246bd6;
}

section{
    margin: 0.8rem;
}

#correo{
    display: flex;
    max-width: 500px;
    margin: 0.5rem  auto;
    border-radius: 3em;
    box-shadow: 0 0 10px #8624d6;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.2rem;
}
#correo:hover{
    animation: change-to-blue 1s ease 1;
    box-shadow: 0 0 10px #246bd6;
}
#correo> p{
    color: #efefef;
    font-size: 0.8rem;
    text-align: center;
}
#correo button{
    margin: 0;
    justify-content: center;
    border: none;
    border-radius: 0;
}
#correo button:hover .material-symbols-outlined{
    color: #8624d6;
    margin: 0;
}

.flex-div{
    display: flex;
}

hr{
    border-color: #8624d6;
    box-shadow: 0 0.3rem 0.7rem;
    margin: 0.7rem;
    color: #8624d6;
}

p{
    text-align: justify;
    font-family: 'poppins';
}

a{
    border-radius: 0.5rem;
    text-decoration: none;
    color: #efefef;
}
a:hover{
    background-color: #1c1c1c;
    color: #b8b8b8;
}

button{
    background-color: #010108;
    color: #efefef;
    border: solid 0.15rem #466bbb;
    border-radius: 1.9rem;
    padding: 0.5rem;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
}

button:hover > .material-symbols-outlined{
    margin-left: 1rem;
}
.material-symbols-outlined{
    color: #246bd6;
}

#description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 0.8rem;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "side-image any"
    "side-image  any";
}

#descrpition :not(#side-image){
    grid-area: any;
}

#side-image{
    width: 100%;
    max-width: 500px;
    border-radius: 2em;
    grid-area: side-image;
}

.enlace{
    color: #8624d6;
    text-decoration: none;
    background-color: #010108;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.enlace:hover{
    padding: 0.15rem;
    margin: 0.1rem;
    border: solid 0.15rem #8624d6;
    color: #246bd6;
}

aside{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#mail-icon, .fa-brands{
    color: #010108;
    background-color: #3f3f3f;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 0.3rem;
    margin: 0.5rem;
}
.contenedor-proyectos{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 0.3rem;
}
.proyecto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    padding: 0.4rem;
    margin: 0.4rem auto;
    max-width: 900px;
    align-items: center;
    gap: 0.8rem;
}
.proyecto > *:not(img){
    grid-column: 2;
    text-align: center;
}
.proyecto img{
    width: 100%;
    border-radius: 0.8rem;
}

.proyecto  p{
    font-size: 0.9rem;
}

.proyecto:hover{
    padding: 0.2rem;
    background-color: #1c1c1cb0;
}


@keyframes change-to-blue {
    10%{
        box-shadow: 0 0 10px #8624d6;
    }
    50%{
        box-shadow: 0 0 10px #246bd6;
    }
}

@media (width < 500px) {
    #description{
        margin: 0.1rem;
        display: flex;
        flex-direction: column;
        padding: 0.3rem;
    }

}